body {
		margin-bottom: 60px;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 15%;
	}

	h1, h2{
		font-family: 'Nunito', sans-serif;';
	}
	h1 {
		font-size: 42px;
		line-height: 50px;
	}
	html {
		position: relative;
		min-height: 100%;
	}
	body {
		/* Margin bottom by footer height */
		margin-bottom: 60px;
	}
	.footer {
		position: absolute;
		bottom: 0;
		margin-left: -12%;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 60px;
	}